
@{
    ViewBag.Title = "TinTuc";
}
<link rel="stylesheet" href="~/Data/css/tintuc.css">
<section id="TinTuc">
    <div class="ContentTintuc"><h1>TIN TỨC</h1></div>
    <div class="titleTinTuc">
        <div class="container ">
            <div class="row row-cols-3">
                <div class="col">
                    <img src="~/Data/imgs/Tintuc1.png" alt="">
                    <h2>Văn hóa uống trà của người Việt, câu chuyện xưa và nay</h2>
                    <p>
                        Trà xanh thái nguyên được phổ biến là một thức uống dân dã,
                        quen thuộc từ bao đời nay. Cây chè xuất hiện chủ yếu ở các
                        tỉnh Thái Nguyên, Phú Thọ, Yên Bái, Lâm Đồng… là nguồn gốc
                        cho ra những sản phẩm chè có chất lượng cao.
                    </p>
                </div>
                <div class="col">
                    <img src="~/Data/imgs/Tintuc2.png" alt="">
                    <h2>Chè xanh Thái Nguyên ướp hoa nhài</h2>
                    <p>
                        Ở Việt Nam có rất nhiều nơi trồng hoa nhài, đây là loại hoa nở tới
                        6 tháng/năm nên hoa nhài tự nhiên được sử dụng để ướp trà rất
                        nhiều, và trà ướp với hoa nhài giá thành rẻ hơn nhiều so với
                        trà ướp bông sen Tây Hồ.
                    </p>
                </div>
                <div class="col">
                    <img src="~/Data/imgs/Tintuc3.png" alt="">
                    <h2>Cách bảo quản trà Shan Tuyết để giữ được vị hương thơm</h2>
                    <p>
                        Chè là loại thức uống dễ mất hương và vị nhất, cũng dễ hút những
                        mùi hương khác lạ khiến chè mất dần đi mùi vị ban đầu. Bảo quản
                        chè là việc hết sức quan trọng mà mỗi người uống chè đều phải biết.
                    </p>
                </div>

                <div class="col">
                    <img src="~/Data/imgs/Tintuc1.png" alt="">
                    <h2>Văn hóa uống trà của người Việt, câu chuyện xưa và nay</h2>
                    <p>
                        Trà xanh thái nguyên được phổ biến là một thức uống dân dã,
                        quen thuộc từ bao đời nay. Cây chè xuất hiện chủ yếu ở các
                        tỉnh Thái Nguyên, Phú Thọ, Yên Bái, Lâm Đồng… là nguồn gốc
                        cho ra những sản phẩm chè có chất lượng cao.
                    </p>
                </div>
                <div class="col">
                    <img src="~/Data/imgs/Tintuc2.png" alt="">
                    <h2>Chè xanh Thái Nguyên ướp hoa nhài</h2>
                    <p>
                        Ở Việt Nam có rất nhiều nơi trồng hoa nhài, đây là loại hoa nở tới
                        6 tháng/năm nên hoa nhài tự nhiên được sử dụng để ướp trà rất
                        nhiều, và trà ướp với hoa nhài giá thành rẻ hơn nhiều so với
                        trà ướp bông sen Tây Hồ.
                    </p>
                </div>
                <div class="col">
                    <img src="~/Data/imgs/Tintuc3.png" alt="">
                    <h2>Cách bảo quản trà Shan Tuyết để giữ được vị hương thơm</h2>
                    <p>
                        Chè là loại thức uống dễ mất hương và vị nhất, cũng dễ hút những
                        mùi hương khác lạ khiến chè mất dần đi mùi vị ban đầu. Bảo quản
                        chè là việc hết sức quan trọng mà mỗi người uống chè đều phải biết.
                    </p>
                </div>



                <div class="col">
                    <img src="~/Data/imgs/Tintuc1.png" alt="">
                    <h2>Văn hóa uống trà của người Việt, câu chuyện xưa và nay</h2>
                    <p>
                        Trà xanh thái nguyên được phổ biến là một thức uống dân dã,
                        quen thuộc từ bao đời nay. Cây chè xuất hiện chủ yếu ở các
                        tỉnh Thái Nguyên, Phú Thọ, Yên Bái, Lâm Đồng… là nguồn gốc
                        cho ra những sản phẩm chè có chất lượng cao.
                    </p>
                </div>
                <div class="col">
                    <img src="~/Data/imgs/Tintuc2.png" alt="">
                    <h2>Chè xanh Thái Nguyên ướp hoa nhài</h2>
                    <p>
                        Ở Việt Nam có rất nhiều nơi trồng hoa nhài, đây là loại hoa nở tới
                        6 tháng/năm nên hoa nhài tự nhiên được sử dụng để ướp trà rất
                        nhiều, và trà ướp với hoa nhài giá thành rẻ hơn nhiều so với
                        trà ướp bông sen Tây Hồ.
                    </p>
                </div>
                <div class="col">
                    <img src="~/Data/imgs/Tintuc3.png" alt="">
                    <h2>Cách bảo quản trà Shan Tuyết để giữ được vị hương thơm</h2>
                    <p>
                        Chè là loại thức uống dễ mất hương và vị nhất, cũng dễ hút những
                        mùi hương khác lạ khiến chè mất dần đi mùi vị ban đầu. Bảo quản
                        chè là việc hết sức quan trọng mà mỗi người uống chè đều phải biết.
                    </p>
                </div>

            </div>
        </div>
    </div>

</section>
<div class="menuTT">
    <a href="">1</a>
    <a href="">2</a>
    <a href="">3</a>
    <a href=""><i class="bi bi-chevron-right"></i></a>
</div>

