
@{
    ViewBag.Title = "LienHe";
}
<link rel="stylesheet" href="~/Data/css/lienhe.css">
<div class="bgLH">
    <div class="formLH">
        <div>
            <h3>LIÊN HỆ VỚI CHÚNG TÔI</h3>
            <form>
                <input type="text" name="" id="" placeholder="Họ tên"><br>
                <input type="text" name="" id="" placeholder="Email"><br>
                <input type="text" name="" id="" placeholder="Số điện thoại"><br>
                <input type="text" name="" id="" placeholder="Nội dung"><br>
                <input type="button" value="Gửi" style="width: 80px; color: #fff ; background-color: #899a29; padding-left: 0;">
            </form>
        </div>
    </div>
</div>
