@{
    ViewBag.Title = "TRANG CHỦ";
}

<link rel="stylesheet" href="~/Data/css/TrangChu.css">

<!-- banner  -->
<section id="banner">
    <div class="single-item">
        <div class="imgbannerhome">
            <img src="~/Data/imgs/bannerHome1.png" class="w-100" alt="">
            <div class="contentBanner">
                <div class="contenth2"><h2>TRÀ ƯỚP SEN TÂY HỒ</h1></div>
                <div class="contenth1"><h1>Tinh hoa ẩm thực</h1></div>
                <div>
                    <p>
                        Sự hoà quyện tuyệt vời giữa hương thơn ngan ngát của
                        sen Bách diệp Hồ Tây và vị đậm đà của trà Tân Cương
                    </p>
                </div>
                <div><button class="btnHome" type="button">THỬ NGAY</button></div>
            </div>
        </div>
        <div class="imgbannerhome">
            <img src="~/Data/imgs/bannerHome1.png" class="w-100" alt="">
            <div class="contentBanner">
                <div class="contenth2"><h2>TRÀ ƯỚP SEN TÂY HỒ</h1></div>
                <div class="contenth1"><h1>Tinh hoa ẩm thực</h1></div>
                <div>
                    <p>
                        Sự hoà quyện tuyệt vời giữa hương thơn ngan ngát của
                        sen Bách diệp Hồ Tây và vị đậm đà của trà Tân Cương
                    </p>
                </div>
                <div><button class="btnHome" type="button">THỬ NGAY</button></div>
            </div>
        </div>
        <div class="imgbannerhome">
            <img src="~/Data/imgs/bannerHome1.png" class="w-100" alt="">
            <div class="contentBanner">
                <div class="contenth2"><h2>TRÀ ƯỚP SEN TÂY HỒ</h1></div>
                <div class="contenth1"><h1>Tinh hoa ẩm thực</h1></div>
                <div>
                    <p>
                        Sự hoà quyện tuyệt vời giữa hương thơn ngan ngát của
                        sen Bách diệp Hồ Tây và vị đậm đà của trà Tân Cương
                    </p>
                </div>
                <div><button class="btnHome" type="button">THỬ NGAY</button></div>
            </div>
        </div>

    </div>

</section>

<!-- product  -->

<section id="product">
    <div class="neubat">
        <div class="h1spnb ">
            <h1>SẢN PHẨM NỔI BẬT</h1>
        </div>
        <div class="imgspnb w-100">
            <img src="~/Data/imgs/la.png" alt="">
        </div>
    </div>
    <div class="spnb">
        <div class="imgsp ">
            <img class="w-100" src="~/Data/imgs/spnb1.png" alt="">
            <p>TRÀ ƯỚP BÔNG SEN</p>
        </div>
        <div class="imgsp">
            <img class="w-100" src="~/Data/imgs/spnb2.png" alt="">
            <p>TRÀ ƯỚP NHỊ SEN</p>
        </div>
        <div class="imgsp">
            <img class="w-100" src="~/Data/imgs/spnb3.png" alt="">
            <p>TRÀ SHAN TUYẾT</p>
        </div>
        <div class="imgsp">
            <div></div>
            <img class="w-100" src="~/Data/imgs/spnb4.png" alt="">
            <p>TRÀ Ô LONG</p>
        </div>
        <div class="imgsp ">
            <img class="w-100 " src="~/Data/imgs/spnb1.png" alt="">
            <p>TRÀ ƯỚP BÔNG SEN</p>
        </div>
        <div class="imgsp">
            <img class="w-100" src="~/Data/imgs/spnb2.png" alt="">
            <p>TRÀ ƯỚP NHỊ SEN</p>
        </div>
        <div class="imgsp">
            <img class="w-100" src="~/Data/imgs/spnb3.png" alt="">
            <p>TRÀ SHAN TUYẾT</p>
        </div>
        <div class="imgsp">
            <img class="w-100" src="~/Data/imgs/spnb4.png" alt="">
            <p>TRÀ Ô LONG</p>
        </div>
    </div>
</section>

<section id="Intro" class="w-100">
    <div class="position-relative">
        <div class="contenIntro w-100"><h1>GIỚI THIỆU</h1></div>

        <div class="imgIntro ">
            <div class="ItemBackGround1">
                <img src="~/Data/imgs/Sen.png" class="w-100" alt="">
            </div>
            <div class="backgoundIntro">
                <img src="~/Data/imgs/Intro.png" class="w-100" alt="">
            </div>
        </div>
        <div class="workIntro position-absolute ">
            <div class="tsbd"><h1>Trà sen Bách Diệp</h1></div>
            <div class="mainIntro">
                <p>
                    Trà ướp Sen Bách Diệp - tinh hoa văn hóa Hà Thành là
                    sự hòa quyện tuyệt vời giữa hương thơm ngan ngát của bông sen Bách diệp Hồ
                    Tây và vị đậm đà của trà Tân Cương Thái Nguyên. Qua đôi bàn tay tài hoa và bí
                    quyết nghề mật truyền nhiều đời của người thợ trà Thăng Long, tạo ra thức quà
                    tinh túy, kết tinh văn hóa ngàn năm Thăng Long – Hà Nội.
                </p>
            </div>
            <div><button class="btnHome" type="button">THỬ NGAY</button></div>
        </div>
        <div class="sdtIntro">
            <!-- <img src="~/Data/imgs/sdtIntro.png" alt=""> -->
            <p>0963681741</p>
        </div>
    </div>
</section>
<section id="Athor">
    <div>
        <div class="titleAthor">
            <div><h1>NGHỆ NHÂN TRÀ ĐẠO</h1></div>
            <div class="w-100 itemAthor d-flex justify-content-center">
                <div class="">
                    <img class="w-100" src="~/Data/imgs/Athor1.png" alt="">
                    <h3 class="w-100">Nn. Nguyễn Cao Sơn</h3>
                    <p class="w-100">
                        Nguyễn Cao Sơn được chọn làm đại
                        diện quảng bá văn hóa Trà Việt tại
                        ngôi nhà di sản 87 Mã Mây, Hà Nội.
                    </p>
                </div>
                <div class="">
                    <img class="w-100" src="~/Data/imgs/Athor2.png" alt="">
                    <h3 class="w-100">Nn. Hướng Anh Sướng</h3>
                    <p class="w-100">
                        Truyền nhân đời thứ 6 của dòng trà Trường Xuân,
                        Hà Nội chia sẻ về nghệ thuật trà đạo, lĩnh vực
                        mà anh dành hơn nửa cuộc đời nghiên cứu một sách đam mê.
                    </p>
                </div>
                <div class="">
                    <img class="w-100" src="~/Data/imgs/Athor3.png" alt="">
                    <h3 class="w-100">Nn. Nguyễn Thị Dần</h3>
                    <p class="w-100">
                        Vẫn tự tay chọn hoa, tách gạo, thực hiện từng công đoạn ướp
                        trà sen. Cũng chính bởi nghiện trà, bởi yêu nghề nên cô
                        thiếu nữ Hà thành năm xưa vẫn say hương vị trà sen Tây Hồ.
                    </p>
                </div>
                <div class="">
                    <img class="w-100" src="~/Data/imgs/Athor4.png" alt="">
                    <h3 class="w-100">Nn. Nguyễn Hoài Linh</h3>
                    <p class="w-100">
                        Vô địch toàn thế giới trong cuộc thi Tea Master Cup International
                        2018 về pha trà được tổ chức tại Huế
                    </p>
                </div>
                <div>
                    <img class="w-100" src="~/Data/imgs/Athor5.png" alt="">
                    <h3 class="w-100">Nn. Viên Trân</h3>
                    <p class="w-100">
                        Sinh ra và lớn lên trong một gia đình quý tộc phong kiến,
                        trong một môi trường mà việc uống trà và trà cực ngon,
                        cực thượng hạng là điều không bao giờ thiếu trong nhà.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="BuyNow">
    <div class="BuyNow">
        <div>
            <img src="~/Data/imgs/bgBuy.png" class="w-100" alt="">
        </div>
        <div class="formBuy">
            <div>
                <h1>MUA NGAY</h1>
            </div>
            <div class="formB input-group mb-3">
                <input type="text" class="formText form-control" placeholder="Số điện thoại/Email" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="formButtom btn btn-outline-secondary" type="button" id="button-addon2">Gửi</button>
            </div>
        </div>
    </div>
</section>



<!-- nhúng thư viện js  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript"
        src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript"
        src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="~/Data/js/bannerHome.js"></script>